<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="/fonts/stylesheet.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Курс ТКС</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
	<!--
	  Pins footer to the bottom
	  TODO: place it properly
	-->
    <style>
      .course {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      footer {
        margin-top: auto;
      }
    </style>
  </head>

  <body>
    <div class="course">
      <header>
        <nav class="level nerd">
          <p class="level-item has-text-centered">
            <a class="link is-info nf" href="/lectures">龎 Лекции</a>
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info nf" href="/labs"> Лабораторные</a>
          </p>
          <p class="level-item has-text-centered">
            <img
              src="https://icst.spbstu.ru/userfiles/files/Risunok-KSPT.png"
              alt="КСПТ"
              style="height: 50px"
            />
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info nf" href="/awesome">履 Awesome</a>
          </p>
          <p class="level-item has-text-centered">
            <a class="link is-info nf" href="/"> О курсе</a>
          </p>
        </nav>
      </header>
      <main>
        <section class="section">
          <div class="container">{% block content %} {% endblock %}</div>
        </section>
      </main>

      <footer class="footer" style="margin-top: auto">
        <div class="content has-text-centered">
          <p>
            Сделяль <a href="https://ejiek.com">@ejiek</a>. Исходный код имеет
            лицензию
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            Содержимое сайта имеет лицензию
            <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a
            >.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
